[Unit]
Description=Check Mail every five minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnStartupSec=30sec
OnUnitActiveSec=5min
Unit=checkmail.service

[Install]
WantedBy=default.target