Xft.dpi: 140
!Xcursor.size:  48

#include ".config/include/xresources.xresources"
#include ".config/include/xresources.xterm"
!#include ".config/include/xresources.urxvt"

!URxvt.font: xft:Source Code Pro:size=12
!!emacs.font: Source Code Pro-12

XTerm.vt100.faceName: DejaVu Sans Mono
XTerm.vt100.faceSize: 11

#include ".config/include/xresources.zenburn"
