#include "dotfiles/xresources.xresources"
#include "dotfiles/xresources.xterm"
!#include "xresources.urxvt"

!URxvt.font: xft:Source Code Pro:size=12
!!emacs.font: Source Code Pro-12
!
!XTerm.vt100.faceName: DejaVu Sans Mono
!XTerm.vt100.faceSize: 11

#include "dotfiles/xresources.zenburn"
