!! prevents occasional giant mouse cursor bug in GTK
Xcursor.size: 24

!! urxvt
URxvt.font: xft:DejaVu Sans Mono:size=11
URxvt.perl-ext-common: keyboard-select,config-reload
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.scrollBar: false
! Nice color for border (can't remove it when fontsize/pixels mismatch)
URxvt.borderColor: #222222

!#include "src/base16-xresources/xresources/base16-solarized-light-256.Xresources"
#include "src/base16-xresources/xresources/base16-solarized-dark-256.Xresources"
