[Unit]
Description=Check battery every five minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnStartupSec=30sec
OnUnitActiveSec=3min
Unit=checkbatt.service

[Install]
WantedBy=default.target